.serverCard {
    background-color: #3e5175;
    padding: 24px;
    border-radius: 20px;
    flex: 1 1 calc(33.333% - 20px);
    min-width: 280px;
    max-width: 350px;
    cursor: pointer;
    transition: background 0.3s;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .serverCard:hover {
    background-color: #4b6190;
  }
  
  .title {
    margin: 0 0 12px;
    font-size: 1.4rem;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .ip {
    margin: 0;
    font-size: 1rem;
    color: #dddddd;
    word-break: break-all;
    overflow-wrap: break-word;
  }
  