.backupListContainer {
    padding: 10px;
    background-color: #2a3a5a;
    border-radius: 12px;
    max-height: 350px;
    overflow-y: auto;
    max-width: 900px;
  }
  
  .mainContent {
    width: 100%;
    max-width: 1000px; /* или auto, если нужно на всю */
    margin: 0 auto;
  }
  

  /* Область со скроллом */
  .scrollArea {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 350px;
    overflow-y: auto;
  
    /* Скроллбар для Firefox */
    scrollbar-width: thin;
    scrollbar-color: #2dd3b7 #2a3a5a;
  }
  
  /* Скроллбар для Chrome, Edge */
  .scrollArea::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollArea::-webkit-scrollbar-track {
    background: #2a3a5a;
    border-radius: 10px;
  }
  
  .scrollArea::-webkit-scrollbar-thumb {
    background-color: #2dd3b7;
    border-radius: 10px;
    border: 2px solid #2a3a5a;
  }
  
  .scrollArea::-webkit-scrollbar-thumb:hover {
    background-color: #26bba3;
  }
  
  /* Элемент бэкапа */
  .backupItem {
    background: #3e5175;
    padding: 12px;
    border-radius: 10px;
    transition: background 0.3s, border 0.3s;
  }
  
  /* Ховер по бэкапу, только если он выбираемый */
  .selectable {
    cursor: pointer;
  }
  
  .selectable:hover {
    background: #4b6190;
  }
  
  /* Активный выбранный элемент */
  .selected {
    background-color: #2dd3b7;
    color: black;
    border: 2px solid #2dd3b7;
  }
  
  /* Название бэкапа */
  .backupName {
    margin: 0;
    font-weight: bold;
    color: white;
  }
  
  /* Комментарий */
  .backupComment {
    margin: 5px 0 0;
    font-size: 0.95rem;
    color: #bbbbbb;
  }
  
  /* Если список пустой */
  .noBackups {
    color: #ccc;
    font-style: italic;
  }
  
  .selectable {
    cursor: pointer;
  }
  
  .selected {
    border: 2px solid #2dd3b7;
    background: #2dd3b730;
  }
  