.wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.globalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.columnsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  padding: 0 20px;
  margin-bottom: 25px;
}

.listColumn {
  background: linear-gradient(145deg, #2a3a5a, #1e2a3e);
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(44, 31, 230, 0.2);
  position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Затемнение и усиление тени при наведении */
.listColumn:hover {
  background: linear-gradient(145deg, #24334e, #192536); /* немного темнее */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}


.listTitle {
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  cursor: default;
}

.listTitle::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 35%;
  height: 3px;
  background-color: #2dd3b7;
  transition: width 0.3s ease;
}

.listColumn:hover .listTitle::after {
  width: 100%;
}




.backupListContainer {
  position: relative;
}

.backupItem.selected {
  z-index: 1; 
  position: relative;
}

.scheduleItem {
  position: static !important;
  z-index: auto !important;
}

.actions {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 0;
  position: relative;
  z-index: 2;
}

.actions button {
  color: white;
  font-weight: bold;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
  min-width: 180px;
}

.actions button:not(.disabledButton):not(.cancelButton) {
  background-color: #2dd3b7;
}

.actions button:not(.disabledButton):not(.cancelButton):hover {
  background-color: #26bba3;
}

.disabledButton {
  background-color: #3e5175;
  cursor: not-allowed;
  opacity: 0.7;
}

.cancelButton {
  background-color: #f53e3e;
}

.cancelButton:hover {
  background-color: #c72626;
}

.backupColumn{
  z-index: 1;
}


.disabledButton {
  background-color: #3e5175 !important;
  cursor: not-allowed !important;
  opacity: 0.7 !important;
}


.scheduleButton {
  background-color: #2dd3b7;
  transition: all 0.3s;
}

.scheduleButton:not(:disabled):hover {
  background-color: #26bba3;
}

.sshFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.sshButton {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sshButton:hover {
  background-color: #357ab8;
}
